<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
                <% if book.file.attached? %> <!--evaluates if thumbnail is attached-->
               <a href="<%=book_path(book) %>"><%= image_tag book.file.variant(resize: "400x500"), class: "thumbnails"%></a>  <!--image magick way to scale: .variant(resize) => only applies to images-->
            <% elsif %>
                <%= image_tag 'http://www.walterzebrowskiassoc.com/images/coming-soon2.jpg'%>
            <% end %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>
        <td><%= book.rating %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>

