<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload'%>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= home_path %>" style="font-size: 30px">YAMADA <i class="fas fa-book-open"></i> MANGA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="toggleButton">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="nav-links">
      <li class="nav-item active">
        <%= link_to "Home", home_path,　class: 'navItem'%>
      </li><br>
      <li class="nav-item">
        <%= link_to "Manga List", list_path,　class: 'navItem'%>
      </li><br>
      <li class="nav-item dropdown">
        <%= link_to "Add Manga", new_path,　class: 'navItem'%>
      </li><br>
    </ul>
     <%= form_tag(search_path, :method => "get", class: 'navItem') do %>  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control", :id=>"searchInput"%>
    <i class="fas fa-search" style="color: #9c9c9c" id="search"></i>
    <%end%>
  </div>
</nav>

  <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c4c286882a.js"></script>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload'%>
  </body>
</html>
